.drop
{
	border: 2px dotted #bdc3c7; /*3498db*/
	padding: 0px;

	width: 100%;
	height: 100%;
	color: #3498db;
}

.img-person
{
	max-width: 46%;
	position: relative;
	margin:25px;
}


#box-update-modal
{


	width: 46.5%;
	margin-left: 25px;

}